.qheader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: white;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);

}

.qHeader__logo img{
    height: 30px;
    margin-right: 20px;
}

.qHeader__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.qHeader__icon > .MuiSvgIcon-root{
    color: grey;
    cursor: pointer;
    font-size:80px;
    padding: 5px 20px;
}

.qHeader__icon > .MuiSvgIcon-root:hover{
    color: #8f1f1b;
    border-radius: 10px;
    background-color: lightgray;
}
.qHeader__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;

}


.qHeader__input > input{
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(49,49,49);
    
}

.qHeader__input > .MuiSvgIcon-root {
    color: gray;
  }


.qHdeader__rem {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.qHdeader__rem > .Header__avater{
    cursor: pointer;
}

.qHdeader__rem > .MuiSvgIcon-root{
    font-size:  xx-large;
    color: gray;
    margin-left: 25px;
    cursor: pointer;
}


.qHdeader__rem > .MuiSvgIcon-root:hover{

    color:#8f1f1b;
 
}


.qHdeader__rem > .MuiButton-root{
    color: whitesmoke;
    margin-left: 25px;
    text-transform: inherit;
    background-color: #8f1f1b;
    border-radius: 20px;
    cursor: pointer;
}

.qHdeader__rem > .MuiButton-root:hover{
    color: white1;
    background-color: #b92b27;
   
}